.container {
  height: 280px;
  width: 50%;
  background-color: rgb(138, 165, 232);
  opacity: 95%;
  position: absolute;
  left: 25%;
  top: 300px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  p {
    margin-top: 45px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 5rem;
    color: #271dabe0;
  }
  &__button {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    button {
      width: 130px;
      height: 40px;
      background-color: rgb(101, 94, 221);
      border: 1px solid grey;
      box-shadow: 4px 4px #744a4a;
      border-radius: 3px 3px;
      color: white;
      font-size: 20px;
    }
  }
}
